<%= form_with model: [:admin, @origin_country] do |f| %>
  <%= render partial: "admin/shared/form_errors", locals: { model: @origin_country } %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control"  %>
      </div>
    </div>
  </div>

  <%= f.submit "Save", class: "btn btn-plain mt-3" %>
<% end %>
