<h1 class="page-heading">Імена</h1>

<p style="color: green"><%= notice %></p>

<%= link_to "Додити імʼя", new_admin_name_path, class: "btn btn-action" %>
<%= link_to "Додати країну походження", new_admin_origin_country_path, class: "btn btn-action" %>

<table class="table">
  <% @names.group_by(&:capital_letter).each do |letter, names| %>
    <thead class="table-dark">
      <tr>
        <th scope="col"><%= letter %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% names.each do |name| %>
        <tr>
          <th></th>
          <td><%= link_to name.title, name_path(name) %></td>
          <td><%= link_to "Edit", edit_admin_name_path(name) %></td>
          <td><%= button_to "Delete", admin_name_path(name), method: :delete, class: "btn-destroy" %></td>
        </tr>
    <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate @names, window: 1 %>
