<% if @applied_filters.empty? %>
  <h1 class="page-heading">Всі Імена</h1>
<% else %>
  <h1 class="page-heading"><%= build_heading_from_filters(@applied_filters) %></h1>
<% end %>

<div class="row row-cols-auto">
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-category" data-bs-toggle="dropdown" aria-expanded="false">
        Cтать
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-category">
        <% @categories.each do |category| %>
          <li><%= link_to category, request.params.merge(by_category: category).except(:page), class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-letter" data-bs-toggle="dropdown" aria-expanded="false">
        Буква
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-letter">
          <% @alphabet.each do |letter| %>
            <li><%= link_to letter, request.params.merge(by_letter: letter).except(:page), class: "dropdown-item" %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-origin-countries" data-bs-toggle="dropdown" aria-expanded="false">
        Походження
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-origin-countries">
        <% @origin_countries.each do |origin| %>
          <li><%= link_to origin.uk_title_plural, request.params.merge(by_origin: origin.id).except(:page), class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% unless @applied_filters.empty? %>
  <div class="row row-cols-auto mb-3">
    <% @applied_filters.each do |param, value| %>
      <div class="col">
        <% if param == "by_origin" %>
          <%= link_to @selected_oc_title , request.params.except(param), class: "remove-filter-link plain-text" %>
        <% else %>
          <%= link_to value, request.params.except(param), class: "remove-filter-link plain-text" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% @names.group_by(&:capital_letter).each do |letter, names| %>
  <div class="mb-3">
    <h1><%= letter %></h1>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-3">
      <% names.each do |name| %>
        <div class="col text-center">
            <%= link_to name_path(name), class: "name-link plain-text" do %>
              <div class="name-box">
                <%= name.title %>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @names, window: 1 %>

<%= link_to "Create new name", new_name_path %>
