<% if @applied_filters.empty? %>
  <h1 class="page-heading"><%= t ".heading.all_names" %></h1>
<% else %>
  <h1 class="page-heading"><%= build_heading_from_filters(@applied_filters) %></h1>
<% end %>

<div class="row row-cols-auto">
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-category" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t ".filters.gender" %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-category">
        <% @categories.each do |category| %>
          <li><%= link_to_with_filter_multiplier :by_category, category, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-letter" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t ".filters.letter" %>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-letter">
          <% @alphabet.each do |letter| %>
            <li><%= link_to_with_filter_multiplier :by_letter, letter, class: "dropdown-item" %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <button class="btn btn-plain dropdown-toggle" type="button" id="dropdown-origin-countries" data-bs-toggle="dropdown" aria-expanded="false">
        <%= t ".filters.origin" %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-origin-countries">
        <% @origin_titles.each do |origin| %>
          <li><%= link_to_with_filter_multiplier :by_origin, origin, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% unless @applied_filters.empty? %>
  <div class="row row-cols-auto mb-3">
    <% @applied_filters.each do |param, value| %>
      <div class="col">
        <%= link_to request.params.except(param), class: "remove-filter-link" do %>
          <% if param == "by_category" %>
            <%= Name.human_enum_name("category", value) %> <%= icon("fa-solid", "fa-xmark") %>
          <%  else %>
            <%= value %> <%= icon("fa-solid", "fa-xmark") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% @names.group_by(&:capital_letter).each do |letter, names| %>
  <div class="mb-3">
    <h1><%= letter %></h1>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 g-3">
      <% names.each do |name| %>
        <div class="col text-center">
            <%= link_to name_path(name), class: "name-link" do %>
              <div class="name-box">
                <p class="name-title"><%= name.title %></p>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="pb-3">
  <%= paginate @names, window: 1 %>
</div>
