<h1 class="pt-3">Список Імен</h1>
<div class="mb-5">
  <% @categories.each do |category| %>
    <%= link_to category, names_path(populate_filters(category: category)), class: "btn btn-plain" %>
  <% end %>
</div>
<div class="mb-5">
  <h4 class="mb-3">За алфавітом</h4>
  <% @alphabet.each do |letter| %>
    <%= link_to letter, names_path(populate_filters(letter: letter)), class: "btn btn-plain btn-letter" %>
  <% end %>
</div>

<div class="mb-5">
  <h4 class="mb-3">За походженням</h4>
  <% @origin_countries.each do |origin| %>
    <%= link_to origin.uk_title_plural, names_path(populate_filters(origin_country_id: origin.id)), class: "btn btn-plain" %>
  <% end %>
</div>

<div>
  <% @names_hash.each do |letter, names| %>
    <h1><%= letter %></h1>
    <% names.each do |name| %>
      <%= link_to name.title, name_path(name) %>
    <% end %>
  <% end %>
</div>

<%= link_to "Create new name", new_name_path %>