<div class="container">
  <footer class="row row-cols-1 row-cols-sm-4 py-4">
    <div class="col">
      <%= link_to root_path, class: "d-flex align-items-center mb-3 link-dark text-decoration-none" do %>
        <%= image_tag "logo.svg" %>
      <% end %>
      <p class="nav-font text-dark">© 2022</p>
    </div>

    <div class="col">
    </div>

    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><%= link_to t(".names_list"), names_path, class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".name_days"), name_days_path, class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".selections"), selections_path, class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".blog_posts"), posts_path, class: "nav-link nav-font p-0 text-dark" %></li>
      </ul>
    </div>

    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><%= link_to t(".main_page"), main_path, class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".about"), "#", class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".privacy_policy"), "#", class: "nav-link nav-font p-0 text-dark" %></li>
        <li class="nav-item mb-2"><%= link_to t(".site_map"), "#", class: "nav-link nav-font p-0 text-dark" %></li>
      </ul>
    </div>
  </footer>
</div>