<div class="main-page-block">
  <h1 class="page-heading"><%= t ".name_filters" %></h1>

  <div class="mb-5">
    <% @categories.each do |category| %>
      <%= link_to category, names_path(by_category: category), class: "btn btn-plain" %>
    <% end %>
  </div>

  <div class="mb-5">
    <h4 class="fs-lora mb-3"><%= t ".by_letter" %></h4>
    <div class="text-center">
      <% @alphabet.each do |letter| %>
        <%= link_to letter, names_path(by_letter: letter), class: "btn btn-plain btn-letter" %>
      <% end %>
    </div>
  </div>

  <div class="mb-5">
    <h4 class="fs-lora mb-3"><%= t ".by_origin" %></h4>
    <% @origin_titles.each do |origin| %>
      <%= link_to origin, names_path(by_origin: origin), class: "btn btn-plain" %>
    <% end %>
  </div>

  <div class="text-sm-start text-center">
    <%= link_to t(".buttons.more_names"), names_path, class: "btn btn-action" %>
  </div>
</div>

<div class="main-page-block">
  <h1><%= t ".selections" %></h1>

  <div class="row row-cols-md-2">
    <%= render partial: "selections/selection", collection: @selections %>
  </div>

  <div class="text-sm-start text-center">
    <%= link_to t(".buttons.more_selections"), selections_path, class: "btn btn-action" %>
  </div>
</div>

<div class="main-page-block">
  <h1><%= t ".name_days" %></h1>

  <div class="mb-5">
    <h4 class="fs-lora mb-3"><%= t ".by_month" %></h4>
    <%= render "name_days/months" %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="celebration-box">
        <% if @name_day_today %>
          <h4 class="fs-lora mb-3">Іменини сьогодні <%= @name_day_today.human_day_month %> святкують:</h4>
          <p><%= @name_day_today.names_list.join(", ") %></p>
        <% else %>
          <h4 class="fs-lora mb-3">Іменини сьогоді</h4>
          <p>Відсутні</p>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="celebration-box">
        <% if @name_day_tomorrow %>
          <h4 class="fs-lora mb-3">Іменини завтра <%= @name_day_tomorrow.human_day_month %> святкують:</h4>
          <p><%= @name_day_tomorrow.names_list.join(", ") %></p>
        <% else %>
          <h4 class="fs-lora mb-3">Іменини завтра</h4>
          <p>Відсутні</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text-sm-start text-center">
    <%= link_to t(".buttons.more_name_days"), name_days_path, class: "btn btn-action" %>
  </div>
</div>

<div class="main-page-block-last">
  <h1><%= t ".recent_blog_posts" %></h1>

  <%= render partial: "posts/post_thumb", collection: @posts, as: :post %>

  <div class="text-sm-start text-center mt-5">
    <%= link_to t(".buttons.more_blog_posts"), posts_path, class: "btn btn-action" %>
  </div>
</div>
