<%= form_with model: [:admin, @post] do |f| %>
  <div class="form-group mb-1">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group mb-1">
    <%= f.label :photo_token %>
    (токен фото з URL на Unsplash: https://unsplash.com/photos/<strong>UIjyAmquROE</strong>)
    <%= f.text_field :photo_token, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by coma)" %>

    <button class="btn btn-plain mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Список існуючих тегів
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= @all_tags.join(", ") %>
      </div>
    </div>

    <%= f.text_field :tag_list, class: "form-control" %>
  </div>

  <div class="form-group my-2">
    <%= f.label :hot, "Показати вогник?" %>
    <%= f.check_box :hot %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, size: "70x15", class: "form-control" %>
  </div>

  <%= f.submit "Save", class: "btn btn-plain mt-4" %>
<% end %>
