<% content_for :meta_title, "#{t ".heading"} #{NameDay.human_enum_name("month", params[:month])} | О.Імена" %>
<% content_for :meta_description, "Календар іменин містить список імен та відповідні дні, коли ці імена відзначаються. Дати коли святкують День ангела. Також, перегляньте, в кого іменини (День ангела) сьогодні і завтра." %>

<h1 class="page-heading"><%= t ".heading" %> <%= NameDay.human_enum_name("month", params[:month]) %></h1>

<div class="mb-5">
  <%= render "months" %>
</div>

<%= render "current_name_days", name_day_today: @name_day_today, name_day_tomorrow: @name_day_tomorrow %>

<div class="row">
  <div class="col">
    <% @name_days.each do |name_day| %>
      <h3 class="fs-lora"><%= name_day.day %> <%= NameDay.human_enum_name("numeral_month", name_day.month) %></h3>
      <p><%= name_day.names_list.join(", ") %></p>
    <% end %>
  </div>
</div>
