<% content_for :meta_title, "Статті про імена дівчаток і хлопчиків | О.Імена" %>
<% content_for :meta_description, "Корисні статті та блог пости для батьків, які шукають ім'я для своєї дитини, а також для тих, хто просто цікавиться іменами та їхнім значенням." %>

<h1 class="page-heading"><%= t ".heading" %> <%= removable_tag_name %></h1>

<div class="collapse" id="showMoreTags" aria-expanded="false">
  <%= render "post_tags", tags: @all_tags %>
</div>
<p class="text-end collapse-tags-link">
  <a class="collapsed" data-bs-toggle="collapse" href="#showMoreTags" role="button" aria-expanded="false" aria-controls="showMoreTags">
    <%= t ".tags" %>
  </a>
</p>

<%= render partial: "post_thumb", collection: @posts, as: :post %>

<%= paginate @posts, window: 1 %>
