<div class="post-wrapper">
  <h1 class="page-heading"><%= @post.title %></h1>

  <%= render "post_tags", tags: @post.tags %>

  <% if @photo %>
    <%= image_tag @photo.urls.regular, class: "img-fluid" %>
    <p class="text-center text-muted fst-italic fs-6">
      <%= t ".photo_by" %>
      <%= link_to @photo.user.name.titleize, "https://unsplash.com/@#{@photo.user.username}?utm_source=orionames&utm_medium=referral", class: "link-dark"%>
      <%= t ".on" %>
      <%= link_to "Unsplash", "https://unsplash.com/?utm_source=orionames&utm_medium=referral", class: "link-dark"%>
    </p>
  <% end %>

  <p><%= markdown(@post.body) %></p>

  <h3 class="mt-5"><%= t ".next_post" %></h3>
  <%= render "post_thumb", post: @post.next_post %>

  <%= link_to "Edit current post", edit_post_path(@post) %>
</div>
