<%= form_with model: [:admin, @selection] do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group my-2">
        <%= f.label :pinned, "Прикріпити на головній?" %>
        <%= f.check_box :pinned %>
        <p class="fs-6 fst-italic">*Максимально 2 прикріплених (зараз прикріплено <%= Selection.pinned.count %>)</p>
      </div>

      <div class="form-group">
        <%= f.label :names %>
        <%=
          f.collection_select :names,
                              Name.order(:title),
                              :id, :title,
                              { include_hidden: false },
                              { multiple: true, size: 18, class: "form-select mb-2" }
        %>
      </div>

      <div class="form-group">
        <%= f.label :post_id %>
        <%= f.collection_select :post_id, Post.all, :id, :title, { include_blank: true }, { class: "form-select" } %>
      </div>

      <%= f.submit "Save", class: "btn btn-plain mt-3" %>
    </div>
  </div>
<% end %>
