<div class="container">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Імена", admin_names_path, class: "nav-link nav-font me-lg-1 pt-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Іменини", admin_name_days_path, class: "nav-link nav-font me-lg-1 pt-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Підбірки", admin_selections_path, class: "nav-link nav-font me-lg-1 pt-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Пости", admin_posts_path, class: "nav-link nav-font me-lg-1 pt-3" %>
          </li>
          <li>
            <%= button_to "Вийти (Адмін)", destroy_admin_session_path, method: :delete, class: "btn-destroy pt-3" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
