<!DOCTYPE html>
<html>
<head>
  <title>Orionames</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body>
<div class="body-wrapper">

  <% if admin_signed_in? %>
    <%= render "admin/shared/navbar" %>
  <% else %>
    <%= render "shared/navbar" %>
  <% end %>

  <div class="content-wrapper">
    <div class="container">
      <div class="breadcrumbs">
        <%= render_breadcrumbs separator: " / " %>
      </div>

      <%= yield %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>
</body>
</html>