<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div class="body-wrapper">

      <% if admin_signed_in? %>
        <%= render "admin/shared/navbar" %>
      <% else %>
        <%= render "shared/navbar" %>
      <% end %>

      <div class="content-wrapper">
        <div class="container">
          <div class="breadcrumbs">
            <%= render_breadcrumbs separator: " / " %>
          </div>

          <%= yield %>
        </div>
      </div>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
